beautifulsoup4==4.8.2
docutils==0.15.2
HeapDict==1.0.1
html5lib==1.0.1
intervaltree==3.0.2
lxml==4.5.0
nltk==3.4.5
snowballstemmer==2.0.0
sortedcollections==1.1.2
streamlit==0.82.0
toml==0.10.1
urllib3==1.25.8
xmltodict==0.12.0
